<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <style>
        body { font-family: Arial, sans-serif; }
        pre { background: #f4f4f4; padding: 10px; border-radius: 5px; }
    </style>
</head>
<body>
    <h1>Application Logs</h1>
    {% if logs %}
        <pre>
        {% for log in logs %}
            {{ log }}
        {% endfor %}
        </pre>
    {% else %}
        <p>No logs available.</p>
    {% endif %}
    <img src="{{ url_for('static', filename="33654.jpg") }}" alt='圖片測試'/>
    <video width="320" height="180" controls >
        <source src="{{ url_for('static', filename="rick_and_roll.mp4") }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    

</body>
</html>
