<!DOCTYPE html>
<head>
    <style>
        td{
            padding:5px
        }
    </style>
</head>
<body>
    <p>User List</p>
    <a href="../">版回首頁</a>
    {%if user_list%}
    <table border=1 border-collapse>
        <tr>
            <td>ID</td>
            <td>帳號</td>
            <td>密碼</td>
            <td>Admin</td>
        </tr>    
        {%for user in user_list%}
            <tr>
                <td>{{user.id}}</td> 
                <td>{{user.name}}</td>  
                <td>{{user.password}}</td>  
                <td>{{user.is_admin}}</td>  
            </tr>
        {%endfor%}
        <br>
    </table>
    {%endif%}
</body>